*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #91E5F6;
    text-align: center;
    color:#133C55;
}
.container{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 9px;
    border:none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size:8vmin;
    color: #133c55;
    background-color: #ffffc7;

}
#reset-btn{
    height:12vmin;
    width:20vmin;
    background-color: #133C55;
    border:none;
    border-radius:6px;
    color: white;
    font-size:15px;
}
#new-btn{
    height:12vmin;
    width:20vmin;
    background-color: #133C55;
    border:none;
    border-radius:6px;
    color: white;
    font-size:15px;
}
#msg{
font-size:5vmin;
    color :#133C55;
    margin: 3px;
}
.msg-container{
height: 100vmin;
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 4rem;

}
.hide{
    display: none;
}